{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Module 1 - Instructions
{% endblock %}

{% block content %}

          <ul>
              <li class="list-group-item">
		  You have been randomly matched with one other person
		  in the room. One of you has been randomly assigned
		  the role of Player 1 and the other has been randomly
		  assigned the role of Player 2. You will not be told
		  the identity of your partner and your partner will
		  not know your identity.
                </li>
                <li class="list-group-item">
                    Player 1 starts the module with an
                    endowment
                    of <b>{{Constants.endowment}}</b>. Player 2 starts the module with nothing.
                </li>
		<li class="list-group-item">
		  Player 1 has to decide how much of the <b>{{Constants.endowment }}</b> to share with Player 2.
		                  </li>

                <li class="list-group-item">
		  Even though only one person has been assigned the
                    role of Player 1, you will all make the decision
                    as though you were Player 1. This means you will
                  decide how to share <b>{{Constants.endowment}}</b> with a
                    partner. After you have made your decision, we
                    will tell you whether you were assigned to be
                    Player 1 or Player 2.
                </li>
                <li class="list-group-item">
                    Your payouts in the module will be calculated in the following way:
					<br>
			      <table>
				<tr>
				  <td>Player 1 earning = {{ Constants.endowment }} – Amount Sent</td>
				 </tr>
				<tr>
				   <td>Player 2 Earning = Amount Sent by
				  Player 1</td>
				</tr>
			      </table>
		</li>
			   <li>You will be informed of your earnings for this module at the end of the experiment.</li>
			  <li>The exchange rate is: <strong>500 ECUs = 1  £ </strong></li>
          </ul>

	  {% next_button %}

{% endblock %}

{% block styles %}
	  <style>
	  	li {
    		list-style-type: none;
    		display : inline;
    	}
	    table, th, td {
	    padding: 15px;
	    border: 1px solid #ddd;
	    }
	    tr {
	    background: #F5F5F5
	    }

	  </style>
{% endblock %}