{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">
        <p>In this model, you will make <strong>8 decisions</strong>，every decision including 2 options</p>

        <p> The first option is fixed compensation, and the second option is to determine the reward based on random
            voting of the system
        </p>

        <p>After all the decisions are completed, we will randomly select one of the eight decisions to calculate your
            compensation.
        </p>
    </div>
</div>

