{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Module 5: Introduction
{% endblock %}

{% block content %}
<p>
    In this Module, you will work on an Adding Numbers task. You will predict your overall performance among all participants in this room: whether you will be in top third, middle third or bottom third in terms of number of correct answers. Correct prediction will be rewarded 100 ECUs. This is your Module Prediction Income.
</p>
<p>
    This module consists of 5 rounds. At the beginning of the module participants are randomly assigned to groups of three. You won’t know the identity of the other group members. Groups are randomly re-assigned before each round.
</p>
<p>
    You will be asked to compute a series of additions in one minute. Your Earned Income depends on how many correct answers you provide. You will get 150 ECUs per correct answer.
</p>
<p>
    After you finish the additions, the results will be announced privately.
</p>
<p>
    After each round’s Adding Numbers task, you will be asked to predict your performance among the 3 members of your group: whether you are in the 1st, the 2nd or the 3rd place. Correct prediction will be rewarded 100 ECUs. This is your Round Prediction Income.
</p>
<p>
    Your profits for each round in this Module are calculated in the following manner:
</p>
<p>
    Profit = Earned Income + Prediction Income 1 + Prediction Income 2 + Dice Income
</p>
<p>
    Finally, one round in this module will be chosen at random, and your earnings for this Module will be based on your profits of that round at the exchange rate 500 ECUs = 1 £.
</p>
<p>
    After this Module, you will be asked to complete a short survey. Please follow instructions on your screen.
</p>
 <div class="next-btn" style="text-align:right;">{% next_button %}</div>
{% endblock%}